<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <style>
        .gallery { display: flex; justify-content: space-around; margin-top: 20px; }
        .gallery img { width: 300px; height: auto; border-radius: 8px; }
    </style>
</head>
<body>
    <h1>Image Gallery</h1>
    <div class="gallery">
        <div>
             <img src="static\download (1).jpg" alt="Image 1">
             <h3>Beautiful lakes</h3>
            
            </div>
            <div>
                <img src="static\download (2).jpg" alt="Image 2">
                <h3>Amazing waterfalls</h3>
            </div>
            <div>
                <img src="static\download.jpg" alt="Image 3">
                <h3>Enormous mountains</h3>    
            </div>
       
    </div>
</body>
</html>
